checkpoints
datasets/
class_folder/USPC_Locarno_Conversion/
figure_crops
impact_dataset
LLaVA-NeXT
model_io
model_weights
debug
groundingLMM
unused
fonts
CLIP_*
DesignCLIP_*
step_x_*
*.pth
*.pt
*.log
*.csv
Impact_clean.csv
data/
__pycache__/
.ipynb_checkpoints/datasets/cifar-100-python.tar.gz
datasets/cifar-100-python/
